body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #faf8ed;
}

nav {
  background-color: #99b080;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  font-size: 24px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.content {
  padding: 20px;
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.text-column {
  flex: 1;
  padding: 20px;
}

.image-column {
  flex: 1;
  text-align: center;
}

.text {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #2980b9;
}

/* Gaya tombol primer */
.primary-button {
  background-color: #748e63;
  width: 50px;
  text-align: center;
}

.primary-button:hover {
  background-color: #2980b9;
}

/* Gaya tombol sekunder */
.secondary-button {
  background-color: transparent;
  color: black;
  text-decoration: underline;
}

.secondary-button:hover {
  background-color: #c0392b;
}

.main-section {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.column {
  flex: 1;
  padding: 20px;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.column {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
  height: auto;
}

.text {
  font-size: 18px;
  margin-top: 10px;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.member-group {
  margin-bottom: 15px;
}

.checkbox-group {
  display: flex;
}

.input-group label {
  display: block;
  margin-bottom: 3px;
  color: #555;
  font-weight: bold;
}

.input-group input {
  width: 94%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.custom-textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  resize: vertical; /* Biarkan pengguna mengubah tinggi textarea */
}

/* Style untuk textarea saat fokus */
.custom-textarea:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #99b080;
  color: #fff;
  padding: 20px;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-media img {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

.row {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.column {
  flex: 1;
  padding: 10px;
}
